@media screen and (min-width:0px) and (max-width:999px){
    /*0px以上999px以下で適用する内容*/
    .drawer-open {
      display: flex;
      height: 60px;
      width: 55px;
      justify-content: left;
      align-items: center;
      position: relative;
      z-index: 100;
      cursor: pointer;
    }
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: #333;
      transition: 0.5s;
      position: absolute;
    }
    .drawer-open span:before {
      bottom: 8px;
    }
    .drawer-open span:after {
      top: 8px;
    }
    #drawer-check:checked ~ .drawer-open span {
      background: rgba(255, 255, 255, 0);
    }
    #drawer-check:checked ~ .drawer-open span::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    #drawer-check:checked ~ .drawer-open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
    .forms {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 99;
      background: #fff;
      transition: .5s;
      padding-top: 20%;
    }
    .form {
      border-bottom: solid 1px #ffffff;
      list-style: none;
      display: block;
      width: 50%;
      box-sizing: border-box;
      color:#ffffff;
      text-decoration: none;
      padding: 10px;
      position: relative;
    }
    .form.select {
      margin: 15px 10px;
    }
    .form input[type='text'] {
      margin: 10px;
    }
    #drawer-check:checked ~ .forms {
      left: 40%;
    }
}

@media screen and (min-width:0px){
    /*0px以上で適用する内容*/
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 90;
        border-bottom: 5px double #000;
        height: 10%;
    }
    .header-logo {
        margin: 0 auto 0 30px;
        font-size: 15px;
    }
    .drawer-hidden {
        display: none;
    }
    .form {
      font-size: 16px;
    }
    .form.select {
        overflow: hidden;
        text-align: center;
        vertical-align: auto;
        position: relative;
        border: none;
        border-radius: 2px;
        background: #ffffff;
    }
    .form.select::before {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        pointer-events: none;
        top: 15px;
        right: 2px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #666666;
    }
    .form.select select::-ms-expand {
        display: none;
    }
    .form.select select {
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }
    .form input[type='text'] {
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        transition: 0.3s;
        letter-spacing: 1px;
        color: #000;
        font-weight: bolder;
        border: none;
        border-bottom: 3px solid #000;
        background: transparent;
        font: 16px sans-serif;
    }
    .form-focus input[type='text']:focus {
        border-bottom: 3px solid #337ab7;
        outline: none;
    }
    .placeholder {
        color: #666666;
    }
}

@media screen and (min-width:500px) {
    /*500px以上で適用する内容*/
    .header {
      height: 7%;
    }
    .header-logo {
      font-size: 18px;
    }
    .forms {
      margin: 0 auto;
    }
}

@media screen and (min-width:1000px) {
    /*1000px以上で適用する内容*/
    .header {
      border-bottom: 6px double #000;
      height: 8%;
    }
    .header-logo {
      margin: 0 auto 0 50px;
    }
    .form{
      float: left;
      margin: 20px 50px 20px 0;
    }
    .form.select {
      width: 100px;
      height: 35px;
    }
    .form.select select {
      padding: 10px 15px;
    }
    .form.select select::-ms-expand {
      display: none;
    }
}