@charset "utf-8";

@media screen and (min-width:0px) and (max-width:999px){
  .drawer-open {
    display: flex;
    height: 60px;
    width: 55px;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  .drawer-open span:before {
    bottom: 8px;
  }
  .drawer-open span:after {
    top: 8px;
  }
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .formats {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #fff;
    opacity: 95%;
    transition: .5s;
    padding-top: 20%;
  }
  .format {
    border-bottom: solid 1px #ffffff;
    list-style: none;
    display: block;
    width: 50%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 10px;
    position: relative;
  }
  .format.select {
    margin: 15px 10px;
  }
  .format input[type='text'] {
    font: 14px sans-serif;
    margin: 10px;
  }
  #drawer-check:checked ~ .formats {
    left: 40%;
  }
}
@media screen and (min-width:0px){
  /*0px以上で適用する内容*/
  .App{
    font-family: "Lato", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Meiryo",arial, sans-serif;
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 90;
    border-bottom: 5px double #000;
    height: 10%;
  }
  .header-logo {
    margin: 0 auto 0 30px;
    font-size: 15px;
  }
  .drawer-hidden {
    display: none;
  }
  .format.select {
    float: left;
    overflow: hidden;
    text-align: center;
    vertical-align: auto;
    position: relative;
    border: none;
    border-radius: 2px;
    background: #ffffff;
  }
  .format.select::before {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    pointer-events: none;
    top: 15px;
    right: 2px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
  }
  .format.select select::-ms-expand {
    display: none;
  }
  .format.select select {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .format input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #000;
    font-weight: bolder;
    border: none;
    border-bottom: 3px solid #000;
    background: transparent;
  }
  .format-focus input[type='text']:focus {
    border-bottom: 3px solid #337ab7;
    outline: none;
  }
  .placeholder {
    color: #666666;
  }

  .main {
    border: #337ab7 1px solid;
    text-align: center;
    vertical-align: auto;
    padding-bottom: 3%;
    padding-top: 18%;
  }
  .title {
    height: 50px;
    background-color: #337ab7;
    margin-top: 0;
    color: #fff;
    text-align: center;
    vertical-align: auto;
  }
  h2 {
    margin: 0;
    font-size: 20px;
    padding: 5%;
  }
  .no-more {
    margin-bottom: auto;
    font-size: 20px;
  }
  .contests-table {
    border-bottom: #ddd 1px solid;
    margin: auto 10px 0px 10px;
    padding: 0px 10px;
  }
  .contest-title {
    font-size: 15px;
    color: darkblue;
    text-decoration: none;
  }
  .contest-title:hover {
    font-size: 14px;
    color: darkblue;
    text-decoration: none;
  }
  table {
    margin: 10px auto 30px auto;
    padding: 8px 30px;
    border-collapse: collapse;
    border-top: #ddd 4px solid;
    padding: 40px 100px;
  }
  tr:nth-child(odd) {
    background-color: rgb(246, 246, 246);
  }
  th,td {
    padding: 8px;
    border-bottom: #ddd 2px solid;
    border-collapse: collapse;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
  }
  a {
    color: #337ab7;
  }
  a:hover {
    color: #1a4368;
  }
  .show-more-button {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background: #ddd;
    color: #666666;
    border: #ddd 1px solid;
    border-radius: 3px;
    transition: .4s;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
  }
  .show-more-button:hover {
    background: #2d2d2d;
    color: white;
  }
}

@media screen and (min-width:500px) {
  /*500px以上で適用する内容*/
  .header {
    height: 7%;
  }
  .header-logo {
    font-size: 18px;
  }
  .formats {
    margin: 0 auto;
    float: left;
  }

  .main {
    width: 500px;
    margin: 140px auto;
    padding-top: 0;
  }
  .title {
    height: 35px;
    width: 95%;
    padding: 2.5%;
  }
  h2 {
    font-size: 25px;
    padding: 5px;
  }
  .contests-table {
    margin: 10px auto;
    padding: 30px 60px;
  }
  .contest-title {
    font-size: 18px;
  }
  .contest-title:hover {
    font-size: 18px;
  }
  table {
    border-collapse: collapse;
    width: 90%;
    margin: 25px auto 30px auto;
    padding: 20px 100px;
  }
  th,td {
    padding: 15px;
    font-size: 14px;
  }
}

@media screen and (min-width:1000px) {
  /*1000px以上で適用する内容*/
  .header {
    border-bottom: 6px double #000;
    height: 8%;
  }
  .header-logo {
    margin: 0 auto 0 50px;
  }
  .format{
    float: left;
    margin: 20px 50px 20px 0;
  }
  .format.select {
    width: 100px;
    height: 35px;
  }
  .format.select select {
    padding: 10px 15px;
    font-size: 15px;
  }
  .format.select select::-ms-expand {
    display: none;
  }
  .format input[type='text'] {
    font: 15px sans-serif;
  }

  .main {
    width: 900px;
  }
  .contests-table {
    margin: 10px auto;
    padding: 40px 80px;
  }
  .contest-title {
    font-size: 23px;
  }
  .contest-title:hover {
    font-size: 23px;
  }
  table {
    border-collapse: collapse;
    margin: 25px auto 60px auto;
    padding: 40px 100px;
  }
  th,td {
    height: 30px;
    font-size: 15px;
  }
}